@model VidPlace.Models.Customer
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Detail</h2>

<h3>Customer Id: @Model.ID</h3>
<h3>Name: @Model.Name</h3>
<h3>Address: @Model.Address</h3>

