@model IEnumerable<Phono.Models.Phone>
 @{
    ViewBag.Title = "Phone List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Phone List</h2>

<p>
    @Html.ActionLink("New Phone", "New", "Phone", null, new { @class = "btn btn-primary" })
</p>

@if (!Model.Any())
{
    <h3>There are no Phone available</h3>
}
else
{
    <table class="table table-hover table-responsive">
        <thead>
            <tr>               
                <th>Phone Name</th>
                <th>Brand Type</th>
                <th>Action</th>                
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>                                
                <td>@item.PhoneName</td>
                <td>@item.Brand.BrandName</td>
                <td>@Html.ActionLink("Detail", "Detail", "Phone", new { phoneId = item.ID }, null)
                    |@Html.ActionLink("Edit", "Edit", "Phone", new { phoneId = item.ID }, null)
                    |@Html.ActionLink("Delete", "Delete", "Phone", new { id = item.ID}, null)</td>
            </tr>
        }
    </table>
}

