@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to PHONO</h1>
    <p class="lead">PHONO is a free web site to introduce different phone's brands.</p>
    <p><a href="~/Phone" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        
       <img src="~/Images/smartphones(2).jpg" class="" />
        
    </div>
    
</div>