@model IEnumerable<VidPlace.Models.Media>
@{
    ViewBag.Title = "getMedia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Media List:</h3>

@if (!Model.Any())
{
    <h3>Media Not found</h3>
}
else
{
    <table class="table table-hover table-bordered">

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Name</td>                
            </tr>
        }

    </table>
}
