@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To Online Surving system</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        
        <p>
            <img src="~/Image/survey-icon-12.png" />
        </p>
        
    </div>
    <div class="col-md-4">
        <p>
            <img src="~/Image/Survey.png" />
        </p>
    </div>
    
</div>