@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>"Welcome to TeachMe .. A new teaching experience."</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
      
        <p><a class="btn btn-primary" href="~/Courses/Index">Coursses &raquo;</a></p>
    </div>
    
</div>